<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>curriculum-app</title>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    <!-- Le styles -->
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/pedestal.css" rel="stylesheet">
    <link href="/curriculum-app.css" rel="stylesheet">

    <!-- Add xpath support to IE. Domina needs this -->
    <!--[if IE]>
        <script type="text/javascript" src="js/xpath.js"></script>
        <![endif]-->

  </head>

  <body>

    <div class="container">

      <div id="main">
        <div class="nom">
          <strong>
            <div id="firstname-name">Antoine Romain DUMONT</div>
          </strong>
          <div id="address"></div>
          <div id="phone"></div>
          <div id="birth"></div>
          <div id="email"></div>
        </div>
        <span class="photo"></span>
        <br />

        <div class="info">
          <b>Current position:</b>
          <span id="as"></span> at <span id="current"></span> since <span id="period"></span>
        </div>
        <br />

       <div class="info">
          <b>Previous positions:</b>
          <div id="ppos"></div>
        </div>
        <br />

        <div class="info">
          <b>Formation:</b>
          <div id="formation"></div>
        </div>
        <br />

        <div class="info">
          <b>Hobbies:</b>
          <div id="hobbies"></div>
        </div>
        <br />

        <div class="info">
          <b>Miscelleanous:</b>
          <div id="misc"></div>
        </div>
        <br />

        <div class="info">
          <b>Comp&eacute;tences :</b>
          <table>
            <tr>
              <th>Langages de programmation</th>
              <td>C/Posix, Java et connaissances C++, Objective C, Ocaml</td>
            </tr>
            <tr>
              <th>Langages de script</th>
              <td>batch, perl, php, shell *sh</td>
            </tr>
            <tr>
              <th>Programmation web</th>
              <td>Cgi/Perl, XHTML, Php/*SQL, javascript</td>
            </tr>
            <tr>
              <th>Syst&egrave;mes d'exploitation</th>
              <td>FreeBSD, GNU/Linux, Mac OS X et MS Windows</td>
              <td>administration, utilisation</td>
            </tr>
            <tr>
              <th>IDE</th>
              <td>Dreamweaver, Eclipse, JBuilder*, NetBeans</td>
            </tr>
          </table>
          <br />
          <b>Projets r&eacute;alis&eacute;s dans le cadre professionnel</b>
          <table>
            <tr><th>Projet</th><th>Langages</th><th>Lieu</th><th>Ann&eacute;e</th></tr>
            <tr>
              <td>Maintien en conditions opérationnelles de multiples applications.</td>
              <td>JEE/Oracle, PHP/Oracle, PHP/MySQL</td>
              <td>Sopra Group</td>
              <td>2007-présent</td>
            </tr>
            <tr>
              <td>Intranet/Extranet</td>
              <td>PHP/MySQL</td>
              <td>LcFrance</td>
              <td>2005-2006</td>
            </tr>
            <tr>
              <td>Intranet/Extranet</td>
              <td>ColdFusion/MSSQL</td>
              <td>Linkbynet</td>
              <td>2005</td>
            </tr>
          </table>
          <br />
          <b>Projets r&eacute;alis&eacute;s dans le cadre de mon temps libre</b>
          <table>
            <tr><th>Projet</th><th>Langage</th><th>Ann&eacute;e</th></tr>
            <tr><td><a href="http://projectsion.sourceforge.net">Gestionnaire de projet ProjectSion</a></td><td>PHP/MySQL</td><td>2007-présent</td></tr>
          </table>
          <br />
          <b>Projets r&eacute;alis&eacute;s dans le cadre de mes &eacute;tudes</b>
          <table>
            <tr><th>Projet</th><th>Langage</th><th>Ann&eacute;e</th></tr>
            <tr><td>Pentaminos, T&eacute;tris</td><td>Objective C</td><td>M2</td></tr>
            <tr><td>Compilateur java</td><td>Ocaml</td><td>M1</td></tr>
            <tr><td>Jeu du tas de sable</td><td>Java/Swing</td><td>M1</td></tr>
            <tr><td>Recherche des composantes d'un graphe</td><td>Java/Swing</td><td>M1</td></tr>
            <tr><td>D&eacute;tecteur de spams</td><td>Java/Swing</td><td>M1</td></tr>
            <tr><td>Gestion d'une universit&eacute;</td><td>Php/PGSQL</td><td>Licence</td></tr>
            <tr><td>Syst&egrave;me de fichiers Unix virtuel</td><td>c</td><td>Licence</td></tr>
            <tr><td>Compl&eacute;tion de mots m&eacute;thode T9</td><td>Java</td><td>Licence</td></tr>
            <tr><td>Gestion d'une agence immobili&egrave;re</td><td>Php/PGSQL</td><td>Licence</td></tr>
            <tr><td>Casse Briques, Snake, ...</td><td>Java/Swing/Awt</td><td>DEUG</td></tr>
            <tr><td>R&eacute;solution de polyn&ocirc;mes</td><td>c</td><td>DEUG</td></tr>
          </table>
          <br />
          <b>Langues</b>
          <table>
            <tr><th>Anglais</th><td>lu, &eacute;crit, et parl&eacute;</td></tr>
            <tr><th>Allemand</th><td>niveau bac</td></tr>
          </table>
        </div>
        <br />
        <div class="info">
          <b>Exp&eacute;riences professionelles :</b>
          <table>
            <tr><th>Ann&eacute;e</th><th>Statut</th><th>Soci&eacute;t&eacute;</th><th>Adresse</th></tr>
            <tr><td>Avril 2007 - Présent</td><td>Ingénieur d'études</td><td>Sopra Group</td><td>Courbevoie</td></tr>
            <tr><td>Sept. 2005 - Mai 2006</td><td>D&eacute;veloppeur web</td><td>LcFrance</td><td>Rosny-sous-Bois</td></tr>
            <tr><td>Juillet 2005 - Août 2005</td><td>Stagiaire d&eacute;veloppeur</td><td>LinkByNet</td><td>Saint-Denis</td></tr>
            <tr><td>Ao&ucirc;t 2002 - Août 2005</td><td>Roller, H&ocirc;te de caisse</td><td>Hypermarch&eacute; Cora</td><td>Livry-Gargan</td></tr>
            <tr><td>Sept. 2001 - Mars 2002</td><td>Stagiaire (vente)</td><td>Librairie Virgule</td><td>Pavillons-sous-Bois</td></tr>
          </table>
        </div>
        <br />
        <div class="info">
          <b>Loisirs :</b>
          <ul>
            <li><a href="http://projectsion.sourceforge.net">Gestionnaire de projet ProjectSion</a></li>
            <li>logiciels libres, unix libres</li>
            <li>guitare</li>
            <li>lecture</li>
            <li>sport (roller, endurance, escalade, vélo)</li>
            <li>jonglage</li>
          </ul>
        </div>
      </div>

    </div> <!-- /container -->

    <!-- Add External JavaScript libraries -->
    <script src="/javascripts/jquery-min.js" type="text/javascript"></script>
    <script src="/javascripts/bootstrap.js" type="text/javascript"></script>
    <script src="/javascripts/pedestal/js/api.js" type="text/javascript"></script>

    <script id="script-driver"></script>

  </body>
</html>
